html
{
    font-family: "Fira Code", sans-serif;
    overflow: hidden;
    scroll-behavior: smooth;
}

div
{
    border: solid black 2px;
}

.landing
{
    height: 100vh;
    overflow-y: auto;
    background-color: white;
}

.heading
{
    font-size: 5em;
}

.flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-col
{
    flex-direction: column;
}

.center
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.two-col
{
    columns: auto 2;
    margin: 5% 10%;
    gap: 2em;
}

.nav:hover
{
    color: lavender;
}
.nav:active
{
    color: plum;
}

.nav
{
    position: fixed;
    color: plum;
    z-index: 2;
    cursor: pointer;
    font-size: 4em;
}

.nav-top
{
    top: 5vh;
    right: 5vw;
}

.nav-bottom
{
    bottom: 5vh;
    right: 5vw;
}

.parallax-container
{
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
